body .container .left-section {
   width: 70%;
   float: left;
   box-sizing: border-box;
   border: 3px outset green;
   background-color: #f1f1f1;
   margin-bottom : 20px;
}

body .container .term-container{
   box-sizing: border-box;
   border: none;
   background-color: #f1f1f1;
}
body .container .term-container .course-section{
   display: grid;
   grid-template-columns: repeat(5, 100px);
   grid-gap: 20px;
   background-color: rgb(201, 252, 235);
   padding-bottom: 20px;
   align-content: center;
}

body .container .term-container .course-section .courseTag{
   line-height: 30px;
   height: 30px;
   margin-left:10px;
   margin-top: 10px;
}

body .container .term-container .course-section .tag-section{
   font-family: "Lucida Console", Courier, monospace;
   text-align: center;
   line-height: 20px;
   display: grid;
   grid-template-columns: repeat(5, 100px);
   grid-gap: 20px;
   margin-left:10px;
   background-color: rgb(201, 252, 235);
}

body .container .right-section{
   
   width: 25%;
   float: right;
   box-sizing: border-box;
   border: 3px outset green;
   background-color: #f1f1f1;
}

body .container .right-section .course-completed{
   display:block;
   background-color: greenyellow;
   margin: 10px;
   padding-bottom: 25px;
}

body .container .right-section .course-completed .courseTag{
   display: grid;
   grid-template-columns: auto auto auto;
   
}

body .container .right-section .course-not-completed{
   background-color: lightseagreen;
   margin: 10px;
   padding-bottom: 25px;
}


/*#hideButton:hover{ 
  margin-left : 5px;
  background-color: RoyalBlue;
  margin-top : 5px;
  color: white;
  padding: 12px 16px;
  cursor: pointer;
  height: 5px;
  width :6px;
} */
#hideButton:hover{ 
   background-color: RoyalBlue; 
 }
 #hideButton{ 
   border : none
 }
h2 {
   margin-top: 30px;
   display: inline-block;
 }
 h3 {
   margin-top: 30px;
   display: inline-block;
 }