body {
    background-repeat: no-repeat;
    background-image: linear-gradient(#B2D9E7, #B2D9E7, white);
}

/*** Wellcome tags ***/
body .container .wellcome_tag h1 {
	margin-left: 8px;
	text-align: left;
	margin-top: 10px;
}

body .container .wellcome_tag h2 {
	font-size: 24px;
}

/*** Terms ***/
body .container .terms {
	position: relative;
	width: 65%;
	float: left;
}

body .container .terms .termGrid {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	/* column-gap: 1%; */
    grid-template-rows: 50px 80px;
    grid-template-areas: 'title title title title title';
}

body .container .terms .termGrid .course_cards {
	position: relative;
	height: 85%;
	border: 2px black;
	background-color: rgb(255, 251, 251);
	border-radius: 5px;
	box-shadow: 2px 4px 7px 0px #555555;
	text-align: center;
	margin: 0 5px 0;
	border-style: dashed;
}

/*** Course Tags ***/
body .container .tags_courses {
	position: relative;
	width: 30%;
	float: right;
}

body .container .tags_courses .icons_annotation {
	display: grid;
	grid-template-columns: 50% 50%;
	row-gap: 15px;
}

body .container .tags_courses .icons_annotation .icons {
	margin-left: 25px;
}

body .container .tags_courses .course_list .course_tag_completed,
body .container .tags_courses .course_list .course_tag_not_completed {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	border:2px solid red;
	overflow: left;

}
body .container .tags_courses .course_list .course_tag_completed{
    overflow: left;
	width:70%;


}

body .container .tags_courses .course_list .course_tag_completed p, 
body .container .tags_courses .course_list .course_tag_not_completed p {
	margin: 16px 5px 16px;
	background-color: #D4F19F;
	border-radius: 25px;
	box-shadow: 2px 4px 7px 0px #555555;
	text-align: center;
	font-size: small;
}

body .container .tags_courses .course_list button {
	border: none;
	background-color: transparent;
	font-size: 26px;
	text-align: center;
	margin-left: 0px;
}

/********************************/
@media screen and (max-width: 1080px) {

    body .container .terms,
    body .container .tags_courses {
        width: 100%;
        float: none;
    }

    body .container .tags_courses .course_list .course_tag_completed,
    body .container .tags_courses .course_list .course_tag_not_completed {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
}