body .container .left-section {
   width: 55%;
   float: left;
   box-sizing: border-box;
   background-color: #f1f1f1;
   margin-bottom : 20px;
}

body .container .term-container{
   box-sizing: border-box;
   border: none;
   background-color: #f1f1f1;
}
body .container .term-container .course-section{
   display: grid;
   grid-template-columns: repeat(5, 100px);
   grid-gap: 20px;
   background-color: rgb(201, 252, 235);
   padding-bottom: 20px;
   align-content: center;
}

body .container .term-container .course-section .courseTag{
   line-height: 30px;
   height: 30px;
   margin-left:10px;
   margin-top: 10px;
}

body .container .term-container .course-section .tag-section{
   font-family: "Lucida Console", Courier, monospace;
   text-align: center;
   line-height: 20px;
   display: grid;
   grid-template-columns: repeat(5, 100px);
   grid-gap: 20px;
   margin-left:10px;
   background-color: rgb(201, 252, 235);
}

body .container .right-section{
   width: 40%;
   float: right;
   box-sizing: border-box;
   background-color: #f1f1f1;
}

body .container .right-section .course-completed{
   display:block;
   background-color: lightgreen;
   margin: 10px;
   padding-bottom: 25px;
}

body .container .right-section .course-completed .courseTag{
   display: grid;
   grid-template-columns: auto auto auto;
   
}

body .container .right-section .course-not-completed{
   background-color: lightskyblue;
   margin: 10px;
   padding-bottom: 25px;
}
#hideButton{ 
   border : none
 }
h2 {
   display: inline-block;
 }
 h3 {
   margin-top: 30px;
   display: inline-block;
 }
 .hide .hideTips{
  visibility: hidden;
  width: 40px;
  background-color: rgba(123, 123, 230, 0.26);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.hide:hover .hideTips{
   visibility: visible;
 }

#viewButton{
  border:none;
  background-color: white;
 }
 .view .viewTips{
   visibility: hidden;
   width: 40px;
   background-color:black;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
   /* Position the tooltip */
   position: absolute;
   z-index: 1;
 }
 .view:hover .viewTips{
   visibility: visible;
 }

 .generateDetail{
  float : right;
  border:none;
  margin-top: 10px;
  margin-right: 10px;
 }
 .generateDetail .generateDetailTips{
   visibility: hidden;
   width: 60px;
   background-color:black;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
   /* Position the tooltip */
   position: absolute;
   z-index: 1;

 }
 .generateDetail:hover .generateDetailTips{
   visibility: visible;
 }
