body .status .course-status {
  display: inline-table;
  border: 3px solid green;
  margin-left: 20px;
  width: 73%;
  height: 90%;
  background-color: white;
}

body .status .programDiv {
  float: right;
  border: 3px solid green;
  margin-left: 0px;
  margin-left: 10px;
  width: 23%;
  height: 90%;
  text-align: center;
}

body .status .course-status .course-complete {
  display: inline-table;
  border: 3px solid green;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 1%;
  width: 31%;
  height: 90%;
  background-color: white;
  text-align: center;
}

body .status .course-status .course-complete .course-card {
  display: inline-table;
  border: 3px outset;
  margin-left: 0px;
  margin-bottom: 20px;
  width: 70%;
  height: 10%;
  background-color: white;
  text-align: left;
  font-weight: bold;
  border-radius: 20px;
  line-height: 18px;
}

#course-card {
  float: right;
  width: 120px;
  text-align: center;
  border: none;
}

#course-card:hover {
  background-color: rgb(146, 146, 236);
}

#viewButton {
  width: 50px;
  height: 40px;
  margin-top: 10px;
  border: none;
  background-color: white;
  display: inline-block;
}

.view .viewTips {
  visibility: hidden;
  width: 40px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.view:hover .viewTips {
  visibility: visible;
}
