body {
    background-repeat: no-repeat;
    background-image: linear-gradient(#b2d9e7, #b2d9e7, white);
}

body .welcometag h1 {
    margin-left: 0;
    text-align: left;
}

#welcome h1 {
    margin-left: 10px;
    text-align: left;
    margin-top: 0px;
}
