body {
    background-repeat: no-repeat;
    background-image: linear-gradient(#b2d9e7, white, white);
}

#welcome h1 {
    /* margin-left:-5px; */
    text-align: left;
}

h2 {
    font-family: Monospace;
    font-size: 32px;
}

p {
    /* font-family: Sans-serif; */
    font-size: 20px;
    /* text-align: justify; */
    /* text-indent: 40px; */
}

#main {
    border: #2e39d6;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50vh 50vh;
}

#main_area {
    /* border: #ef342a;
    margin: 2.5%; */
    /* height: 100vh; */
    display: grid;
    grid-template-columns: 50% 45%;
    /* grid-template-rows: 80vh; */
}

#summary {
    width: 80%;
    height: 36%;
    margin-left: 10%;
    margin-right: 10%;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

#test {
    display: inline-grid;
}

.card {
    margin: 10px;
    background-color: #d4f19f;
    border-radius: 25px;
    box-shadow: -2px 4px 7px 0px #555555;
    text-align: center;
}

.center {
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.inline {
    display: inline;
}

.textCenter {
    text-align: center;
}

.static {
    position: relative;
}

.arrow {
    position: absolute;
    margin-top: 9%;
    font-size: 36px;
    border: none;
    background-color: transparent;
}

.right {
    top: 22%;
    right: 5%;
}

.left {
    top: 22%;
    left: 5%;
}

.round {
    border-radius: 5px 5px;
    border-width: 1px;
}

#pie {
    /* background-color: #65fa92; */
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* grid-column-start: 1;
    grid-column-end: 2;   */
}

#line {
    /* margin-right: 5vw; */
    background-color: #ef342a;
    /* grid-column-start: 1;
    grid-column-end: 2;   */
}

#pieChart {
    margin-left: 10%;
    /* width: 80%;
    height: 60%; */
}

#lineChart {
    margin-left: 3%;
    /* width: 94%;
    height: 80%; */
    /* width: 90%;
    height: 80%;
    margin-top: -20px;
    margin-left: -30px; */
}

/********************************/
@media screen and (max-width: 800px) {
    #main_area {
        /* height: 150vh; */
        /* display: grid; */
        grid-template-columns: 100%;
        grid-template-rows: 80vh 80vh;
    }

    #summaryBoard {
        height: 300vw;
    }
}
