body{
    margin: 0;
    padding: 0;
}
.table-responsive{
    /* height: 80vw; */
    max-width: 95vw;
    overflow: auto;
    margin: 50px auto;
    border: solid 1px rgb(0, 0, 0);
}

table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #999;
    table-layout: fixed;
    text-align:center;
}

th,td{
    border: 1px solid #999;
    height: 20vh;
}
td{
    overflow-y: scroll;
    height: 33vh;
    padding: 7px 7px;
}

#dashLine{
    height: 90%;
    width: 90%;
    margin-left: 5%;
    border: dashed 1px #111;
}

#addCol{
    margin-top: 25%;
}

.block{
    margin-top: 10px;
    border: solid 1px rgb(56, 55, 55);
    height: 5vh;
    font-size: 3vh;
    line-height:150%;
    /* background-color: rgb(241, 193, 166); */
}

.scroll{
    overflow: scroll;
    scrollbar-width: thin;
}

.toLeft{
    margin-right: 15%;
    padding: 0px 3%;
}

.text_center{
    margin: auto;
    top: 0;
    bottom: 0;
    text-align:center;
}

.inline{
    display: inline;
}

