body .container {
    font-family: calibri;
}

body .course{
    line-height: 150%;
    width: auto;
    height: 80px;
    /* border-radius: 5px 5px;
    border-width: 1px;  */
    margin: 4px 10px 4px;
    padding-left: 10px;
    /* position: relative; */
}

.word_overflow{
    overflow: hidden;  /*溢出隐藏*/
    text-overflow: ellipsis; /*以省略号...显示*/
    /* white-space: nowrap;   */
    width: auto;
    margin-right: 0px;
}

.left{
    float: right;
    margin-right: 10px;
}

.round{
    border-radius: 5px 5px;
    border-width: 1px; 
}

.shadow{
    box-shadow: 1px 1px 3px 1px #a5a2a2;
}

.bold{
    font-weight: bold;
}

.larger{
    font-size: 130%;
}

.smaller{
    font-size: 80%;
}

.border{
    border: 1px solid #ccc;
}

.tag{
    display: block;
    text-align: center;
    padding: 6px 12px;
    font-size: 13px;
    border: 1px solid #ccc;
    height: 20x;
    width: 60px;
    margin: 10px;
    /* background-color: rgb(146, 240, 158); */
}

.tag:hover{
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.24),0 -3px 5px 0 rgba(0,0,0,0.19);
}

.selected{
    background-color: rgb(121, 207, 121);
    color: #fff;
}

#search_area{
    float:left;
    /* line-height: 200px; */
    width: 50%;
    height: 600px;
    display: grid;
    grid-template-columns: fit-content(20%) fit-content(80%);
    grid-template-rows: 90% 10%;
    grid-gap:10px;
}

.course_list {
    /* float:left; */
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(auto-fill, 85px);
    row-gap:10px;
  }
  
.tow_course_show{
    grid-template-columns: repeat(2, 50%);
}

.scroll{
    overflow: scroll;
    overflow-x: hidden;
}

  #main_area{
    height: 600px;
  }

  #error{
      color: #db4a4a;
  }

  #course_search{
      width: 50%;
  }

  .tab-header {
      margin-top:10px;
      position:relative;
      padding:5px 10px;
      /* //display:inline-block; */
  }
  .tab-header span {
      height:45px;
      width:45px;
      border-radius:50%;
      margin:auto;
      color:#4c4a47;
      background-color:transparent;
      border:2px solid #99958E;
      display:block;
      position:relative;
  }
  .tab-header span p {
      font-size:30px;
      font-weight:bold;
      text-align:center;
      position:relative;
      top:-4px;
      left:.5px;
      margin:2px;
  }
  .tab-header .header-bar {
      width:130px;
      height:3px;
      background-color:#99958E;
      position:relative;
  }
  
  .tab-header .bar-right {
      left:42px;
      top:-36px;
  }
  
  .tab-header .bar-left {
      right:130px;
      top: 19px;
  }
  
  .tab-header .header-bar.bar-blank {
      background-color:transparent;
  }

  /*popView*/
#popView{
	/*popView sytle*/
	height: 540px;
	width: 45%;
	border-radius: 10px;
	background-color: #b0e6ec;
    opacity:0.8; 
    
	/*layout*/
	position: relative;;
	z-index:2;
    /* right: 10%; */
    float:left;
 
	/*Word seting*/
	text-align: left;
    color: #000000;
    
    overflow: scroll;
    overflow-x:hidden;

    padding-left: 10px;
    padding-right: 10px;
    margin-left: 25px;
}

.inline{
    display: inline;
}

.graph_size{
    width: 400px;
    height: 300px;
}