body .container {
    font-family: calibri;
}

body .course{
    text-align:center;
    line-height: 30px;
    width: 100px;
    height: 30px;
    border-radius: 5%;
    border-style:solid;
    border-width: 1px;
    /* background: #f0a23d; */
}
#course_area {
    text-align:center;
    /* line-height: 200px; */
    width: 50%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(6, 1ft);
    grid-gap: 20px;
    grid-auto-rows: 30px;
    background-color: rgb(201, 252, 235);
  }

  .tab-header {
      margin-top:10px;
      position:relative;
      padding:5px 10px;
      /* //display:inline-block; */
  }
  .tab-header span {
      height:45px;
      width:45px;
      border-radius:50%;
      margin:auto;
      color:#4c4a47;
      background-color:transparent;
      border:2px solid #99958E;
      display:block;
      position:relative;
  }
  .tab-header span p {
      font-size:30px;
      font-weight:bold;
      text-align:center;
      position:relative;
      top:-4px;
      left:.5px;
      margin:2px;
  }
  .tab-header .header-bar {
      width:130px;
      height:3px;
      background-color:#99958E;
      position:relative;
  }
  
  .tab-header .bar-right {
      left:42px;
      top:-36px;
  }
  
  .tab-header .bar-left {
      right:130px;
      top: 19px;
  }
  
  .tab-header .header-bar.bar-blank {
      background-color:transparent;
  }

  /*popView*/
#popView{
	/*popView sytle*/
	height: 400px;
	width: 45%;
	border-radius: 10px;
	background-color: #b0e6ec;
    opacity:0.8; 
    
	/*layout*/
	position:absolute;
	z-index:2;
	right: 2%;
 
	/*Word seting*/
	text-align: left;
	color: #000000;
}