body section.container {
    background-color: #f1f1f1;
    padding-bottom: 10px;
}

body section.container h2{
    text-align: center;
}

body section.container button {
    display: block;
    width: 100%;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
}

/***login***/
body section.container div.user-login {
    width: 40%;
    float: left;
    margin-left: 10%;
}

body section.container div.user-login input {
    width: 96%;
    padding: 2%;
    border: none;
}

body section.container div.user-login #login {
    background-color: #4CAF50;
    max-width: 85%;
    float: left;
}

/***reset password***/
body section.container div.user-login #resetPassword {
    background-color: red;
    max-width: 15%;
    float: right;
}

body section.container div.user-login #resetPassword:hover {
    max-width: 85%;
}

body section.container div.user-login #resetPassword:hover p.hidden {
    display: initial;
}

body section.container div.user-login #resetPassword:hover~#login p.show {
    display: none;
}

body section.container div.user-login #resetPassword:hover~#login {
    max-width: 15%;
}

/***guest login***/
body section.container div.user-login #guestLogin {
    text-decoration: underline;
    font-weight: bold;
}