header {
    overflow: hidden;
    /* background-color: #f1f1f1; */
    padding: 10px 0px;
}

header .logo {
    height: 90px;
    width: auto;
    float: left;
    margin-left: 5%;
}

/* header .logo:hover {
    background-color: #ddd;
} */

h1 {
    margin-left: 15%;
    font-size: 37px;
}

.hidden {
    display: none;
}

.show {
    display: initial;
}

nav {
    overflow: hidden;
    background-color: #333;
    margin-top: 2.5%;
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover,
nav .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

nav .nav-active {
    background-color: #4CAF50;
    color: white;
}

.menu-icon {
    float: left;
    display: block;
    cursor: pointer;
}

.menu-icon .bar1,
.menu-icon .bar2,
.menu-icon .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 8px;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

nav .nav-right,
nav .nav-right-2 {
    float: right;
    overflow: hidden;
}

/********************************/
nav .dropdown {
    float: left;
    overflow: hidden;
    text-align: center;
}

nav .dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    padding: 14px 16px;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
}

nav .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

nav .dropdown .dropdown-content .academicList {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
}

nav .dropdown .dropdown-content .academicList:hover {
    background-color: darkseagreen;
}

/* nav .dropdown:hover .dropdown-content {
    display: block;
} */

/********************************/
nav .nav-right #addon-menu {
    /* display: none; */
    overflow: auto;
    background-color: #444;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}
/********************************/

body {
    margin: 2.5%;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-image: linear-gradient(#B2D9E7, white, white)
}

body .container {
    margin-top: 2%;
    /*min-height: 400px;
    margin-bottom: 10px;*/
    clear: both;
}

footer {
    padding-bottom: 10%;
}

footer .copyright {
    text-align: center;
}

footer .info-link {
    text-align: center;
}

footer .info-link a {
    margin: 10px;
}

/* Course Tag */
.courseTag {
    display: grid;
    border: 0px solid #aaaaaa;
    border-radius: 15px;
    min-width: 100px;
    width: 50px;
    height: 30px;
    line-height: 30px;
    padding: 0px 15px 0px;
    text-align: center;
    background-color: DarkGrey;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
}

.courseTag:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    cursor: grab;
}

.courseTag:active {
    cursor: grabbing;
}


/********************************/
@media screen and (max-width: 600px) {
    nav .menu-list {
        width: 100%;
    }
}