body {
    margin: 2.5%;
    display: flex;
    flex-direction: column;
}

header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px 0px;
}

header .logo {
    height: 90px;
    width: auto;
    float: left;
    margin-left: 5%;
}

header .logo:hover {
    background-color: #ddd;
}

h1 {
    margin-left: 15%;
    font-size: 37px;
}

nav {
    background-color: #333;
    margin-top: 2.5%;
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav a.nav-active {
    background-color: #4CAF50;
    color: white;
}

nav .nav-right {
    float: right;
}

body .container{
    margin-top: 2%;
    min-height: 400px;
    margin-bottom: 10px;
    clear: both;
}

footer {
    padding-bottom: 10%;
}

footer .copyright {
    text-align: center;
}

footer .note {
    color: #ff0066;
    text-align: center;
}

/* Course Tag */
.courseTag {
    display :grid;
    border: 0px solid #aaaaaa;
    border-radius: 15px;
    min-width: 100px;
    width: 70px;
    padding: 0px 15px 0px;
    text-align: center;
    background-color: DarkGrey;
    margin-bottom : 10px;
    font-weight: bold;
    font-size : 15px;
}

.courseTag:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    cursor: grab;
}

.courseTag:active {
    cursor: grabbing;
}