body {
    margin: 2.5%;
}

header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px 0px;
}

header .logo {
    height: 90px;
    width: auto;
    float: left;
    margin-left: 5%;
}

header .logo:hover {
    background-color: #ddd;
}

h1 {
    margin-left: 15%;
    font-size: 37px;
}

nav {
    overflow: hidden;
    background-color: #333;
    margin-top: 2.5%;
    height: 48px;
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav a.nav-active {
    background-color: #4CAF50;
    color: white;
}

nav .nav-right {
    float: right;
}

body .container{
    width: 100%;
    overflow-x: hidden;
    margin-top: 2%;
    min-height: 400px;
    margin-bottom: 10px;
    clear: both;
    border: 3px outset green;
    background-color: #f1f1f1;
}

footer {
    padding-bottom: 100px;
}

footer .copyright {
    text-align: center;
}

footer .note {
    color: #ff0066;
    text-align: center;
}

/* Course Tag */
.courseTag {
    border: 1px solid #aaaaaa;
    border-radius: 5%;
    min-width: 50px;
    width: max-content;
    padding: 0px 10px 0px;
    text-align: center;
    background-color: red;
}

.courseTag:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    cursor: grab;
}

.courseTag:active {
    cursor: grabbing;
}

.myDiv {
  width: 60%;
  margin-top: 6%;
  min-height: 100px;
  margin-left: 80px;
  margin-bottom: 20px;
  background-color: lightgreen;    
}
