/* All you can use */
#shadowLayer {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.dropZone {
    /* The image used */
    background-image: url('../img/drop-here.png');
    /* Used if the image is unavailable */
    background-color: #cccccc;
    /* Center the image */
    background-position: center;
    /* Do not repeat the image */
    background-repeat: no-repeat;
    /* Resize the background image to be contained within the container */
    background-size: contain;
    position: relative;
    z-index: 3;
}

.L {
    margin: 10px;
    height: 110px;
    border: 2px dashed black;
}

.BR {
    background-image: url('../img/trashCan.jpg');
    margin: 10px;
    height: 110px;
    border: 2px dashed black;
}

/* Body container */
body .container {
    background-color: #f1f1f1;
}

/*Top Section*/
body .container .top-section {
    width: 100%;
    height: 100%;
    float: left;
}

/*Left Section*/
body .container .left-section {
    width: 13%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding-bottom: 10px;
    /*outline: 3px solid green;*/
}

body .container .left-section .section-title {
    text-align: center;
}

body .container .left-section #courseList_Containor {
    margin: 10px auto 0;
    border: 3px solid black;
    min-height: 142.5px;
    min-width: 130px;
}

body .container .left-section .courseTag {
    margin: 10px auto 10px;
}

/*Middle Section*/
body .container .middle-section {
    width: 42%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    /*outline: 3px solid green;*/
}

body .container .middle-section .section-title {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

body .container .middle-section .courseInfo {
    margin: 10px auto 10px;
    width: 90%;
    border: 3px solid black;
    padding: 0 10px 0;
}

body .container .middle-section .courseInfo #sectionSelector {
    float: right;
}

/*Right Section*/
body .container .right-section {
    width: 45%;
    height: 100%;
    float: right;
    box-sizing: border-box;
    /*outline: 3px solid green;*/
}

body .container .right-section .section-title {
    text-align: center;
}

body .container .right-section .Calendar {
    margin: 10px auto 10px;
    width: 90%;
    border: 3px solid black;
    padding: 5px 15px 5px;
}

body .container .right-section .Date {
    margin: 10px auto 10px;
    width: 90%;
    border: 3px solid black;
    padding: 0 15px 0;
}

/*Bottom Section*/
body .container .stick-bottom {
    position: fixed;
    z-index: 1;
    border: 2px solid black;
    bottom: 0;
    width: 95%;
    display: flex;
    /* equal height of the children */
    background-color: white;
}

body .container .bottom-left {
    flex: 1;
    /* additionally, equal width */
    float: left;
    box-sizing: border-box;
    border: 2px solid black;
    min-height: 90px;
}

body .container .bottom-left .courseTag {
    float: left;
    margin: 5px 10px 5px;
}

body .container .bottom-left .noDrag:hover {
    cursor: not-allowed;
}

body .container .bottom-right {
    flex: 1;
    /* additionally, equal width */
    float: right;
    box-sizing: border-box;
    border: 2px solid black;
    min-height: 90px;
}

body .container .bottom-right .courseTag {
    float: left;
    margin: 5px 10px 5px;
}