/* All you can use */
#shadowLayer {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.dropZone {
    /* Used if the image is unavailable */
    background-color: #cccccc;
    /* Center the image */
    background-position: center;
    /* Do not repeat the image */
    background-repeat: no-repeat;
    /* Resize the background image to be contained within the container */
    background-size: contain;
    position: fixed;
    z-index: 3;
    height: 30%;
    width: 30%;
    border: 2px dashed black;
}

.L {
    /* The image used */
    background-image: url('../img/drop-here.png');
    top: 35%;
    left: 35%;
}

.BR {
    /* The image used */
    background-image: url('../img/trashCan.jpg');
    top: 35%;
    left: 35%;
}

/* Body container */
body .container {
    /* background-color: #f1f1f1; */
}

/*Top Section*/
body .container section#top {
    width: 100%;
    float: left;
}

/*Left Section*/
body .container section#left {
    width: 13%;
    float: left;
    box-sizing: border-box;
    padding-bottom: 10px;
    /*outline: 3px solid green;*/
}

body .container section#left .section-title {
    text-align: center;
}

body .container section#left #courseList_Containor {
    margin: 10px auto 0;
    border: 3px solid black;
    min-height: 142.5px;
    min-width: 130px;
}

body .container section#left .courseTag {
    margin: 10px auto 10px;
    position: relative;
    z-index: 3;
}

/*Middle Section*/
body .container section#middle {
    width: 42%;
    float: left;
    box-sizing: border-box;
    /*outline: 3px solid green;*/
}

body .container section#middle .section-title {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

body .container section#middle .courseInfo {
    margin: 10px auto 10px;
    width: 90%;
    border: 3px solid black;
    padding: 0 10px 0;
}

body .container section#middle .courseInfo #sectionSelector {
    float: right;
}

/*Right Section*/
body .container section#right {
    width: 45%;
    float: right;
    box-sizing: border-box;
    /*outline: 3px solid green;*/
}

body .container section#right .section-title {
    text-align: center;
}

body .container section#right .Calendar {
    margin: 10px auto 10px;
    width: 90%;
    border: 3px solid black;
    padding: 5px 15px 5px;
}

body .container section#right .Date {
    margin: 10px auto 10px;
    width: 90%;
    border: 3px solid black;
    padding: 0 15px 0;
}

/*Bottom Section*/
body .container section#bottom {
    position: fixed;
    z-index: 2;
    border: 2px solid black;
    bottom: 0;
    width: 95%;
    display: flex;
    /* equal height of the children */
    background-color: white;
}

body .container .bottom_left {
    flex: 1;
    /* additionally, equal width */
    float: left;
    box-sizing: border-box;
    border: 2px solid black;
    min-height: 90px;
}

body .container .bottom_left .courseTag {
    float: left;
    margin: 5px 10px 5px;
}

body .container .bottom_left .noDrag:hover {
    cursor: not-allowed;
}

body .container .bottom_right {
    flex: 1;
    /* additionally, equal width */
    float: right;
    box-sizing: border-box;
    border: 2px solid black;
    min-height: 90px;
}

body .container .bottom_right .courseTag {
    float: left;
    margin: 5px 10px 5px;
}

/********************************/
@media screen and (max-width: 600px) {
    body .container section#left {
        width: 30%;
    }

    body .container section#middle {
        width: 60%;
        float: right;
    }

    .courseCard p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }

    body .container section#middle .courseInfo,
    body .container section#right .Date {
        width: 85%;
    }

    body .container section#right {
        width: 100%;
    }
}