/*Top Section*/
body .container .top-section {
    width: 100%;
    height: 100%;
    float: left;
}

/*Left Section*/
body .container .left-section {
    width: 10%;
    height: 100%;
    float: left;
    outline: 3px solid green;
    background-color: #f1f1f1;
    padding-bottom: 10px;
}

body .container .left-section .section-title {
    text-align: center;
}

body .container .left-section .courseTag {
    margin: 10px auto 10px;
}

body .container .left-section .dropZone {
    margin: 10px;
}

/*Middle Section*/
body .container .middle-section {
    width: 45%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    outline: 3px solid green;
    background-color: #f1f1f1;
}

body .container .middle-section .section-title {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

body .container .middle-section .courseInfo {
    margin: 10px auto 10px;
    width: 75%;
    border: 3px solid black;
    padding: 0 10px 0;
}

/*Right Section*/
body .container .right-section {
    width: 45%;
    height: 100%;
    float: right;
    box-sizing: border-box;
    outline: 3px solid green;
    background-color: #f1f1f1;
}

body .container .right-section .section-title {
    text-align: center;
}

body .container .right-section .Calendar {
    margin: 10px auto 10px;
    width: 75%;
    border: 3px solid black;
    padding: 0 10px 0;
}

body .container .right-section .Date {
    margin: 10px auto 10px;
    width: 75%;
    border: 3px solid black;
    padding: 0 10px 0;
}

/*Bottom Section*/
body .container .stick-bottom {
   position: fixed;
   border: 2px solid black;
   bottom: 0;
   width: 95%;
   display: flex; /* equal height of the children */
   background-color: white;
}

body .container .bottom-left {
    flex: 1; /* additionally, equal width */
    float: left;
    box-sizing: border-box;
    border: 2px solid black;
    min-height: 90px;
}

body .container .bottom-right {
    flex: 1; /* additionally, equal width */
    float: right;
    box-sizing: border-box;
    border: 2px solid black;
    min-height: 90px;
}

body .container .bottom-right .courseTag {
    float: left;
    margin: 5px 10px 5px;
}